/* GLOBAL */
* {
  margin:0;
  padding:0;
  font-family: 'Montserrat';
}
a {
  text-decoration: none;
  color: inherit;
  text-transform: uppercase;
}
/* ANIMATIONS */
@keyframes transitionIn {
  from {opacity: 0;}
  to {opacity: 1;}
}
/* PAGE */
.about-page {
  min-height: 100vh;
  max-width: 100vw;
  background-color: #dfe6e9;
}
.top-greet {
  background-color: #2c3e50;
  width: 100vw;
  height:200px;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position:relative;
}
.top-greet i {
  position:absolute;
  top:38%;
  left: 3%;
  font-size: 40px;
  color: #0abde3;
  cursor: pointer;
  transition: .3s color;
}
.top-greet i:hover {
  color: #5fd9f5;
}
.top-greet h1 {
  font-family: 'Montserrat';
  font-weight: 800;
  font-size: 3.75rem;
  text-transform: uppercase;
  color: #dfe6e9;
  letter-spacing: -1.5px;
  text-shadow: 3.5px 3.5px 8px #2e2e2e;
}
.top-greet hr {
  width: 25%;
  border: 2px solid #0abde3;
}
.top-greet p {
  font-family: 'Montserrat';
  color: whitesmoke;
  letter-spacing: 1px;
  padding:15px;
}
/* INFO STYLING */
.info-box {
  width:100vw;
  display:flex;
}
.two-third {
  flex:2.5;
  display:flex;
  justify-content: space-evenly;
  align-items: center;
}
.info {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px;
}
.one {
  animation-delay: .75s;
}
.two {
  animation-delay: 1.25s;
}
.cta {
  animation-delay: 1.65s;
}
.info h1 {
  font-family: 'Montserrat';
  font-weight: 800;
  font-size: 3rem;
  text-transform: uppercase;
  color: #2c3e50;
  letter-spacing: -1.5px;
  text-align: center;
}
.info i {
  font-size: 3rem;
  padding: 15px;
  color: #0abde3;
}
.info p {
  width: 65%;
  text-align: center;
  font-family: 'Montserrat';
  color: #2c3e50;
  letter-spacing: .75px;
  padding:15px;
  font-size: 1.1rem;
}
.cta {
  flex:1;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cta .circle-logo {
  height:200px;
  width: 200px;
  border-radius: 100px;
  background-image: url(../img/FL\ Logo.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #2c3e50;
  background-size: 115px 115px;
  box-shadow: 10px 10px 25px black;
}
/* BUTTON STYLING */
.btn {
  color: #ecf0f1;
  background-color: #0abde3;
  padding: 13.5px 20px;
  margin: 50px;
  letter-spacing: 2px;
}
.btn:hover {
  transition: .2s all ease;
  color: #ecf0f1;
  background-color: #2c3e50;
  cursor: pointer;
}
/* LOCATION BOX STYLING */
.location-box {
  display:flex;
}
.location-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #2c3e50;
  min-height:40vh;
  flex:1;
}
.location-info i {
  font-size: 3rem;
  padding: 15px;
  color: #0abde3;
}
.location-info p {
  width: 40%;
  text-align: center;
  font-family: 'Montserrat';
  color: #ecf0f1;
  letter-spacing: .75px;
  padding:20px;
  font-size: 1.1rem;
}
.map {
  flex:1;
  overflow:hidden;
  position:relative;
}
.map iframe{
  left:0;
  top:0;
  width:100%;
  height:100%;
  position:absolute;
}