* {
  margin:0;
  padding:0;
  font-family: 'Montserrat';
}
.contact-page {
  position:relative;
  height:100vh;
  height:calc(var(--vh, 1vh) * 100);  
  max-width:100vw;
  overflow: hidden;
  background-image: linear-gradient( rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65) ), url('../img/contactimg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display:flex;
  justify-content: center;
  align-items: center;
}
.contact-page i {
  position:absolute;
  top:8%;
  left: 5%;
  font-size: 55px;
  color: #0abde3;
  cursor: pointer;
  transition: .2s color;
}
.contact-page i:hover {
  color: #ecf0f1;
}
.group-div {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ecf0f1;
  padding:100px;
  box-shadow: 10px 10px 25px rgb(0, 0, 0);}
.group-div h1 {
  text-transform: uppercase;
  font-size: 3rem;
  text-align: center;
  letter-spacing: -2px;
  color: #2c3e50;
}
.group-div p {
  padding-bottom: 40px;
  color: #2c3e50;
}
/* INPUT STYLING */
    .group { 
      position:relative; 
      margin-bottom:45px; 
    }
    input {
      font-size:15px;
      padding:10px 10px 10px 5px;
      display:block;
      width:300px;
      border:none;
      border-bottom:1px solid #2c3e50;
      background-color: #ecf0f1;
    }
    input:focus 		{ outline:none; }
    /* LABEL ======================================= */
    label {
      color:#2c3e50; 
      font-size:14px;
      text-transform: uppercase;
      font-weight:normal;
      position:absolute;
      pointer-events:none;
      left:5px;
      top:10px;
      transition:0.2s ease all; 
      -moz-transition:0.2s ease all; 
      -webkit-transition:0.2s ease all;
    }
    /* active state */
    input:focus ~ label, input:valid ~ label 		{
      top:-20px;
      font-size:14px;
      color:#2c3e50;
    }
    /* BOTTOM BARS ================================= */
    .bar 	{ position:relative; display:block; width:100%; }
    .bar:before, .bar:after 	{
      content:'';
      height:2px; 
      width:0;
      bottom:1px; 
      position:absolute;
      background:#2c3e50; 
      transition:0.2s ease all; 
      -moz-transition:0.2s ease all; 
      -webkit-transition:0.2s ease all;
    }
    .bar:before {
      left:50%;
    }
    .bar:after {
      right:50%; 
    }
    /* active state */
    input:focus ~ .bar:before, input:focus ~ .bar:after {
      width:50%;
    }
    /* HIGHLIGHTER ================================== */
    .highlight {
      position:absolute;
      height:60%; 
      width:100px; 
      top:25%; 
      left:0;
      pointer-events:none;
      opacity:0.5;
    }
    /* active state */
    input:focus ~ .highlight {
      -webkit-animation:inputHighlighter 0.3s ease;
      -moz-animation:inputHighlighter 0.3s ease;
      animation:inputHighlighter 0.3s ease;
    }

    /* ANIMATIONS ================ */
    @-webkit-keyframes inputHighlighter {
      from { background:#2c3e50; }
      to 	{ width:0; background:transparent; }
    }
    @-moz-keyframes inputHighlighter {
      from { background:#2c3e50; }
      to 	{ width:0; background:transparent; }
    }
    @keyframes inputHighlighter {
      from { background:#2c3e50; }
      to 	{ width:0; background:transparent; }
    }
/* INPUT TRANSITIONS */
/* ANIMATIONS */
@keyframes transitionIn {
  from {opacity: 0;}
  to {opacity: 1;}
}
.group-div, .one, .two, .three {
  opacity: 0;
}
.group-div {
  animation: transitionIn 3.5s 0.5s forwards;
}
.one {
  animation: transitionIn 3.5s 1s forwards;
}
.two {
  animation: transitionIn 3.5s 1.35s forwards;
}
.three {
  animation: transitionIn 3.5s 1.7s forwards;
}
.btn {
  animation-delay: 2.5s;
}
/* BUTTON STYLING */
.btn {
  color: #ecf0f1;
  background-color: #0abde3;
  padding: 10px 20px;
  margin-top: 30px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid #0abde3;
  cursor:pointer;
}
.btn:hover {
  transition: .25s all ease;
  font-weight: 400;
  color: #2c3e50;
  border: 1px solid #2c3e50;
  background-color: #ecf0f1;
}
/* MOBILE STYLING */
@media (max-width: 790px) {
  .contact-page i {
    display:none;
  }
  .group-div {
    padding-top:0;
    padding-bottom:0;
    max-width: 100vw;
  }
}
@media (max-width: 558px) {
  .group-div h1 {
    font-size: 2.5rem;
  }
  .group-div p {
    font-size: .9rem;
  }
  input {
    font-size:13px;
    width:250px;
  }
  label {
    font-size:13px;
  }
  input:focus ~ label, input:valid ~ label 		{
    font-size:13px;
  }
  .btn {
    padding: 8.5px 25px;
    font-size: 1rem;
  }
}
@media (max-width: 490px) {
  .group-div {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media (max-width: 400px) {
  .group-div h1 {
    font-size: 2.15rem;
  }
  .group-div p {
    font-size: .8rem;
  }
  input {
    font-size:11px;
    width:240px;
  }
  label {
    font-size:11px;
  }
  input:focus ~ label, input:valid ~ label 		{
    font-size:11px;
  }
  .btn {
    margin-top: 4%;
    padding: 8px 25px;
    font-size: .9rem;
  }
}